* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.visual-cont {
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 40%;
    position: relative;
}

.logobanner {
    background-color: rgb(0, 0, 0, .5);
    position: absolute;
    top: 156px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.signup-cont {
    height: 100%;
    width: 60%;
    align-items: center;
    background-color: whitesmoke;
    display: flex;
}

.sign-banner {
    height: 280px;
    margin-top: 100px;
    width: 100%;
    background-color: white;
    box-shadow:  0 7px 5px rgb(148, 147, 147);
}

#logo {
    max-height: 160px;
    width: auto;
    padding: 20px;
}

fieldset {
    padding-top: 20px;
    padding-left: 40px;
    border: 0;
    display: flex;
    gap: 40px;
}


.input-group {
    display: flex;
    flex-direction: column;
}

.sign-banner > h2 {
    padding-top: 20px;
    padding-left: 40px;
}

input {
    height: 30px;
    width: 230px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
}

label {
    color: rgb(117, 116, 116);
    font-size: 14px;
    margin-bottom: 3px;
}

input:valid {
    border: 2px solid rgb(16, 127, 16);
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red;
}